fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
psycopg[binary]
alembic
pydantic
pydantic[email]
pydantic-settings
python-dotenv
bcrypt
pyjwt
cloudinary
pytest-mock
pytest
pytest-cov
python-multipart
scikit-learn
pandas
joblib